{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на django</title>
{% endblock %}

{% block content%}
    <h1>Добро пожаловать на <strong>{{caption}} </strong>!</h1>
        <p>
            Уникальное сообщество для любителей котов и технологий! Мы объединяем лучших разработчиков и их пушистых друзей в одном месте.
        </p>

        <p>
            Наша цель – создать пространство, где технологии и любовь к котам встречаются, чтобы вдохновлять и обучать.
            Здесь вы найдете множество полезных материалов о программировании, веб-разработке и, конечно же, интересные статьи о жизни котов.
        </p>

        <p>
            Мы предлагаем не только образовательный контент, но и возможность общения с другими участниками через наш блог и форум.
            Присоединяйтесь к нам, чтобы делиться своими проектами, задавать вопросы и получать ответы от опытных профессионалов.
        </p>

        <p>
            На <strong>{{caption}}</strong> вы можете найти курсы по Django, Python, а также советы по настройке серверов и разворачиванию проектов.
            Всё это – с уютной атмосферой, в которой каждый кодер и любитель котов почувствует себя как дома.
        </p>

        <h5>
            Следите за нашими обновлениями и присоединяйтесь к обсуждениям! Ваш успех и счастье – наша главная мотивация.
        </h5>

{% endblock %}